body {
	background: #4c7aaf;
	font-family: 'Inter', sans-serif;
  }
   
  /* Take Stock */
  .take-stock {
	/* position: absolute;
	width: 334px;
	height: 77px;
	left: 30px;
	top: 240px; */
   
	font-family: 'Inter', sans-serif; /* Fallback font */
	font-style: normal;
	font-weight: 700;
	font-size: 96px;
	/* line-height: 116px; */
	text-align: center;
   
	color: #FFFCFC;
	border: 1px solid #FFFCFC;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
   
  /* Stock */
  .stock {
	position: absolute;
	width: 89px;
	height: 34px;
	left: 0px;
	top: 810px;
   
	font-family: 'Inter', sans-serif; /* Fallback font */
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-decoration-line: underline;
   
	color: #FFFFFF;
  }
   
  /* Search */
  .search {
	position: absolute;
	width: 113px;
	height: 38px;
	left: 144px;
	top: 810px;
   
	font-family: 'Inter', sans-serif; /* Fallback font */
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-decoration-line: underline;
   
	color: #FFFFFF;
  }
   
  /* Product Volumes */
  .product-volumes {
	position: absolute;
	width: 77px;
	height: 42px;
	left: 313px;
	top: 802px;
   
	font-family: 'Inter', sans-serif; /* Fallback font */
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-decoration-line: underline;
   
	color: #FFFFFF;
  }




  /* App.css */
.navbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #f1f1f1;
	display: flex;
	justify-content: space-around;
	padding: 10px;
	box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  }
  
  .navbar button {
	background-color: #4c7aaf; /* Green background */
	border: none; /* Remove borders */
	color: white; /* White text */
	padding: 10px 20px; /* Some padding */
	text-align: center; /* Center the text (if you want) */
	text-decoration: none; /* Remove underline */
	display: inline-block; /* Make the buttons appear beside each other */
	font-size: 16px; /* Increase font size */
	margin: 4px 2px; /* Add some margin */
	cursor: pointer; /* Add a mouse pointer on hover */
	border-radius: 4px; /* Rounded corners */
  }
  
  .navbar button:hover {
	background-color: #2906ec; /* Darker green on hover */
  }
  
  .image1 {
	height: 300px;
	width: 250px;
  }

 
   
  .image2 {
	/* Set image styles */
	width: 100%; /* 100% of container width */
	height: auto; /* Maintain aspect ratio */
	object-fit: cover; /* Scale to fill container, potentially cropping */
  }

  .stock1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr
	}